
* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0 auto;
    color: black;
}

aside h1 {
    font-size: large;
}

aside ul {
    line-height: 50px;
    list-style-type:none;
    float: left;
    padding: 0 4% 1% 4%;
    background-color: cyan;
}

body {
    display: flexbox;
    flex-flow: column wrap;
}
.cabecalho{
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    justify-content: space-between;
    height: 153px;
    align-items: center;
}

.logo {
    padding: 0;
}

.logo img{
    width: 153px;
    height: 140px;
    background: transparent;
}

.pesquisa form{
    display: flex;
}

.pesquisa input{
    font-size: 13px;
    padding: 10px 70px;
    border: 1px solid #999;
    width: 100%;
    max-width: 250px;
}

.pesquisa button{
    border: 0px;
    background: transparent;
    margin-left: -45px;
}

.pesquisa button img{
    width: 25px;
    height: 25px;
}

.favoritos  {
    padding: 4% 0 2%;
    margin: 0 auto;
    text-decoration-line:none;
}

.entrar  {
    padding: 4% 0 2%;
    margin: 0 auto;
}
    
.carrinho  {
    padding: 4% 1% 2%;
    margin: 0 auto;
}

.carrinho img{
    width: 40px;
    height: 40px;
}


.entrar img{
    width: 30px;
    height: 30px;
}


.ofertas h1 {
    padding: 1%;
    background-color: chocolate;
    text-align: center;
}

.ofertas ul{
    margin: 0 10% 0 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.ofertas li {
    float: right;
    list-style-type:none;
    padding: 2.5% 5% 1% 5% ;
    text-align: center;
    background-color: peachpuff;
 
}


