
* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0 auto;
    color: black;
}

body {
    display: flexbox;
    flex-flow: column wrap;
}

.cabecalho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(lightblue, white);
    
}
.cabecalho h2 {
    padding: 4.3% 5% 1.7% 0%;
    margin: 0;
    color: rgb(76, 50, 84);
    font-size: 25px;
   float: left;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 40;
    
}
#logo {
    padding: 0 0 0 1%;
    margin: 0;
}

#pesquisa {
    display: flexbox;
    flex-wrap: row wrap;
    align-content: flex-end;
}

#pesquisa form{
    display: flex;
    padding: 5% 15% 0% 1%;
    align-content: flex-start;
}

#pesquisa input{
    font-size: 13px;
    padding: 10px 70px;
    border: 1px solid #999;
    border-radius:15px;
    width: 550px;
    max-width: 550px; 
}

#pesquisa button{
    border: 0px;
    background: transparent;
    margin-left: -45px;
}

#pesquisa button img{
    width: 25px;
    height: 25px;
    align-items: right;
    cursor: pointer;
}

#favoritos  {
    margin: 1%;
    text-decoration-line:none;
    padding: 3% 0 1% 3%;
}

#entrar  {
   margin: 1%;
   padding: 3% 0 1% 0;
}
    
#carrinho  {
    padding: 3% 3% 1% 0;
    margin: 1%;
 
}

aside {
    width: fit-content;
    float: left;
    padding: 0 4% 1% 4%;
}

aside li:hover{
    background-color:whitesmoke;
    cursor: pointer;
}

aside h1 {
    font-size: large;
}

aside ul {
    line-height: 50px;
    list-style-type:none;
        
}


.ofertas h1 {
    padding: 1%;
    text-align: center;
}

.ofertas {
    margin: 0 10% 0 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: fit-content;
}

.produtos{
    display: inline-block;
    padding: 10px;
    padding-top:80px;
}

.produtos span{
    display: block;
    text-align: center;
}

.produtos a{
    display: block;
    text-align: center;
}

@media only screen and (max-width:485px) {
    #pesquisa {
     width: 100%;
    }
    #pesquisa input {
        width: 100%;
    }
    aside ul { 
        display: none; }
  }
