* {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    margin: 0 auto;
    padding: 0px;
    color: black;
}

body {
    display: flexbox;
    flex-flow: column wrap;
}

/* header menu sanduiche*/

/* Icon 1 */

.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
.animated-icon1 span {
    background: #20B2AA;
    }
        
.animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
.animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
.animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }


/*header icones*/
#icones {
    display: flex;
    margin-right: 18%;
}

#carrinho {
    padding: 20% 10% 20% 70%; 
}

#favoritos  {
    padding:20% 10% 20% 0%; 
}

#entrar  {
    padding:20% 0% 20% 0%;
}

/*header botao sair*/
#botaosair{
    display: flex;
    flex-wrap: wrap;

    font-weight: bold;
    height: 38px;
    width: 50px;
    padding-inline-end: 50px;
    margin-top: 30%;
    margin-left: 150%;
    margin-bottom: 5%;
    margin-right: 0%;
    
}

#userLogado{
    display: inline-block;
    font-weight: bold;
    margin-top: 25px;
}

/*header campo de pesquisa*/
#pesquisa {
    display: flexbox;
    flex-wrap: row wrap;
    align-content: flex-end;
}

#pesquisa form{
    display: flex;
    padding: 0% 11.8% 0% 7.5%;
    align-content: flex-start; 
}

#pesquisa input{
    font-size: 13px;
    padding: 10px 0px;
    border: 1px solid #999;
    border-radius:6px;
    width: 2050px;
    max-width: 2050px; 
}

#pesquisa button{
    border: 0px;
    background: transparent;
    margin-left: -45px;
}

#pesquisa button img{
    width: 25px;
    height: 25px;
    align-items: right;
    cursor: pointer;
}

/*conteudo principal INDEX - main*/
main {
        width: 100%;
        height: 80%;
        padding: 50px 50;
        
        
    }
main h1 {
        padding: 1% 3%;
        text-align: center;
        font-size: 23px;
        margin-top: 20px;
}

#ofertas {
        display: inline-flexbox;     
}

.foto {
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 5px 5px 5px lightgray;
}
.detalhes {  
    padding: 5% 10% 5% 25%;
     
}
.adicionar {
    padding: 5% 20% 5% 10%;
}

.produto-item {
     display:inline-block;
     padding: 1% 8%;
}
    
.produto-item > img {
    width: 250px;
    height: 250px;
}



/*CONTEUDO PAGINA FINALIZACAO-COMPRA.HTML*/
.products-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.btn-close {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}
.quantity {
    width: 15%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;

}


/* footer */
.novidades strong {
    color:white;
}

.conceito {
    padding: 5%;  
}

.conceito h3 {
    color: white;
}

.conceito p {
    color: white;
}

.footer-slow-fashion {
    color: white;
}

.footer-home {
    color: white;
}

.footer-login {
    color: white;
}

.footer-vendedor {
    color: white;
}




@import '~mdb-ui-kit/css/mdb.min.css';

@media only screen and (max-width:485px) {
    #pesquisa {
     width: 100%;
    }
    #pesquisa input {
        width: 100%;
    }
}
/*gogle fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
