
* {
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
}

.cabecalho{
    border: 1px solid #000;
    display: flex;
    margin: 0px;
    background-color: whitesmoke
}



#logo {
    padding: 0px;
    border:0px
}

#formulario {
    padding: 50px 200px 10px 180px;
}

#favoritos  {
    padding: 50px 20px;
    text-decoration-line:none;
}

#entrar  {
    padding: 50px 20px;
}

    
#carrinho  {
    padding: 50px 20px;
    
}

aside ul {
    margin-top: 25px;
    font-size: large ;
    line-height: 50px;
    list-style-type:none;

}

main {
    margin-top: 0;
}
main ul li {
    padding: 0 50px;
    line-height: 25px;
    float: right;
    display: inline-flexbox;
    list-style-type:none;
      
}

